    @import 'variables/variables';
    @import 'variables/reset';
    @import '../fonts/fonts';
    @import '../styles/mixins/breakpoints';
    * {
        box-sizing: border-box;
    }
    
    .wrapper__all {
        width: 1440px;
        margin: 0 auto;
        @include respond(tablet) {
            width: 768px;
            margin: 0 auto;
        }
        @include respond(mobile) {
            width: 320px;
            margin: 0 auto;
        }
    }

    section {
        max-width: 960px;
        margin: 0 auto;
        @include respond(tablet) {
            max-width: 768px;
        }
        @include respond(mobile) {
            max-width: 303px;
            margin: 0 auto;
        }
    }
    
    header {
        background-image: url('../images/Background.png');
        @include respond(tablet) {
            background-image: url('../images/Background_tablet.png');
            background-size: cover;
            background-position: top;
            padding: 40px 50px 0px 48px;
        }
        @include respond(mobile) {
            padding: 20px 19px 153px 21px;
            background-image: url('../images/Background_mobile.png');
            background-size: contain;
            background-position: top;
            height: max-content;
        }
        background-repeat: no-repeat;
        padding: 40px 289px 0px 247px;
        text-align: center;
        a {
            text-decoration: none;
        }
        .wrapper {
            display: flex;
            justify-content: space-between;
            height: 36px;
            @include respond(mobile) {
                flex-direction: column-reverse;
                align-items: center;
                margin-top: 1px;
                height: 163px;
            }
            &__login {
                color: $text-color-first;
                font-family: 'Montserrat-Regular';
                font-size: 14px;
                line-height: 36px;
            }
            &__singup {
                color: $text-color-first;
                font-family: 'Montserrat-Regular';
                font-size: 14px;
                border: 2px solid #FFFFFF;
                border-radius: 40px;
                padding: 10px 18px 9px 17px;
                margin-left: 15px;
            }
            &__login-and-singup {
                display: flex;
            }
            &__logo {
                text-transform: uppercase;
                font-size: 20px;
                font-family: 'Montserrat-Bold';
                color: $text-color-first;
                line-height: 36px;
                @include respond(mobile) {
                    margin-left: 21px;
                }
            }
        }
        h1 {
            text-align: center;
            font-family: 'Montserrat-Bold';
            font-size: 52px;
            text-transform: uppercase;
            color: $text-color-first;
            line-height: 63px;
            margin-top: 147px;
            padding-left: 43px;
            @include respond(tablet) {
                padding-left: 2px;
            }
            @include respond(mobile) {
                font-size: 30px;
                line-height: 37px;
                margin-top: 19px;
                padding-left: 0;
            }
        }
        h3 {
            font-family: 'Roboto-Light';
            color: $text-color-first;
            font-size: 24px;
            text-align: center;
            margin-top: 28px;
            padding-left: 43px;
            @include respond(tablet) {
                margin-top: 29px;
                padding-left: 5px;
            }
            @include respond(mobile) {
                font-size: 18px;
                line-height: 24px;
                margin-top: 6px;
            }
        }
        .header__link {
            text-align: center;
            font-family: 'Montserrat-Bold';
            font-size: 14px;
            border-radius: 40px;
            background: $bg-first-color;
            display: inline-block;
            color: $text-color-first;
            padding: 12px 18.5px 11px 19.5px;
            margin: 36px 0 224px 45px;
            @include respond(tablet) {
                margin-left: 4px;
            }
            @include respond(mobile) {
                margin: 18px 6px 18px 9px;
                width: 280px;
                height: 40px;
            }
        }
    }
    
    main {
        width: 100%;
        h2 {
            margin-top: 93px;
            margin-bottom: 38px;
            @include respond(tablet) {
                margin-top: 93px;
            }
            @include respond(mobile) {
                margin-top: 14px;
                font-size: 22px;
                line-height: 27px;
                margin-bottom: 15px;
            }
        }
        .news {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            @include respond(tablet) {
                justify-content: space-around;
    
            }
            @include respond(mobile) {
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
            }
            .card {
                border-radius: 3px;
                padding-top: 219px;
                padding-left: 25px;
                padding-right: 29px;
                width: 33.33%;
                @include respond(tablet) {
                    width: 33.33%;
                    margin: 0 10px;
                    padding-top: 203px;
                    padding-left: 20px;
                }
                @include respond(mobile) {
                    width: 300px !important;
                    height: 240px !important;
                    
                }
                .button {
                    text-transform: uppercase;
                    background-color: $bg-first-color;
                    border: none;
                    font-family: 'Montserrat-Regular';
                    padding: 5px 12px 3px 12px;
                    border-radius: 40px;
                    color: $text-color-first;
                    display: inline-block;
                    font-size: 10px;
                    letter-spacing: 2px;
                    width: 70px;
                    height: 20px;
                    &-second {
                        margin-top: 31px;
                    }
                }
                h3 {
                    font-family: 'Montserrat-Bold';
                    font-size: 24px;
                    color: $text-color-first;
                    line-height: 26px;
                    margin-top: 22px;
                    @include respond(tablet) {
                        line-height: 14px;
                        margin-top: 46px;
                    }
                    @include respond(mobile) {
                        margin-top: 46px;
                        font-size: 24px;
                        line-height: 14px;
                    }
                }
                p {
                    font-family: 'Roboto-Light';
                    line-height: 14px;
                    font-size: 14px;
                    color: #E3E3E3;
                    margin-top: 24px;
                    @include respond(tablet) {
                        margin-top: 30px;
                    }
                }
            }
            &__first {
                background: url(../images/Step_1\_image.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: 300px;
                height: 400px;
                margin: 0 10px;
                @include respond(mobile) {
                    background: url(../images/Mobile/Step_1__mobile.png);
                    margin: 0 0 10px 0;
                    padding-top: 63px !important;
                    padding-left: 20px !important;
                }
            }
            &__second {
                background: url(../images/Step_2\_image.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: 300px;
                height: 400px;
                margin: 0 10px;
                padding-top: 222px !important;
                @include respond(mobile) {
                    background: url(../images/Mobile/Step_2__mobile.png);
                    margin: 0 0 10px 0;
                    padding-top: 64px !important;
                    padding-left: 20px !important;
                    
                }
                h3 {
                    margin-top: 23px !important;
                    @include respond(tablet) {
                        margin-top: 16px !important;
                    }
                    @include respond(mobile) {
                        margin-top: 30px !important;
                    }
                }
                p {
                    margin-top: 19px !important;
                    @include respond(tablet) {
                        margin-top: 23px !important;
                    }
                    @include respond(mobile) {
                        margin-top: 23px !important;
                    }
                }
            }
            &__third {
                margin-right: 0;
                background: url(../images/Step_3\_image.png);
                background-repeat: no-repeat;
                background-size: cover;
                width: 300px;
                height: 400px;
                margin: 0 10px;
                @include respond(mobile) {
                    background: url(../images/Mobile/Step_3__mobile.png);
                    margin: 0 0 10px 0;
                    padding-top: 64px !important;
                    padding-left: 20px !important;
                }
                h3 {
                    margin-top: 22px !important;
                    @include respond(tablet) {
                        margin-top: 45px !important;
                    }
                    @include respond(mobile) {
                        margin-top: 45px !important;
                    }
                }
            }
        }
    }
    
    h2 {
        font-family: 'Montserrat-Bold';
        font-size: 26px;
        color: $text-color-second;
        text-align: center;
        @include respond(tablet) {
            font-size: 22px;
            line-height: 26.82px;
        }
        
    }
    
    .partners {
        @include respond(tablet) {
            width: 478px;
        }
        h2 {
            margin-bottom: 11px;
            @include respond(mobile) {
                margin-top: 25px !important;
                margin-bottom: 0px;
            }
        }
        .partners__avatar {
            display: flex;
            justify-content: space-around;
            margin-top: 38px;
            @include respond(tablet) {
                flex-wrap: wrap;
                height: 513px;
                flex-direction: column;
                width: 513px;
                margin-top: 10px;

            }
            @include respond(mobile) {
                flex-direction: column;
                align-items: center;
                height: 909px;
                margin-bottom: 40px;
                margin-top: 4px;
            }
            .partners__img {
                width: 221px;
                height: 205px;
                text-align: center;
                
            }
            
        }
        h3 {
            color: $text-color-second;
            font-size: 14px;
            font-family: 'Montserrat-Bold';
            line-height: 17.07px;
            margin-top: 16px;
        }
        p {
            font-family: 'Roboto-Light';
            font-size: 14px;
            color: $text-color-third;
            line-height: 14px;
            margin-top: 21px;
        }
        button {
            margin: 53px auto;
            display: block;
            border-radius: 40px;
            background: #FFFFFF;
            border: 2px solid $bg-first-color;
            color: $bg-first-color;
            font-family: 'Montserrat-Bold';
            font-size: 14px;
            padding: 12px 16px 11px 23px;
            @include respond(tablet) {
                margin: 14px auto;
            }
            @include respond(mobile) {
                width: 280px;
                height: 40px;
                margin: -16px auto;
            }
        }
        @include respond(mobile) {
                width: 100%;
        }
        
    }
    
    .holiday {
        h2 {
            margin-top: 90px !important;
            margin-bottom: 30px !important;
            @include respond(tablet) {
                margin-top: 91px !important;
                margin-bottom: 27px !important;
            }
            @include respond(mobile) {
                width: 280px;
                margin: 50px auto 0px !important;
                text-align: center;
            }
        }
        .holiday__images {
            display: flex;
            flex-wrap: wrap;
            @include respond(mobile) {
                flex-direction: column;
                align-items: center;
                margin-top: 28px;
            }
            .item {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $text-color-first;
                font-family: 'Montserrat-Bold';
                font-size: 22px;
                text-align: center;
                line-height: 26.82px;
                border-radius: 5px;
                margin: 10px !important;
                @include respond(mobile) {
                    margin: 5px 0px !important;
                }
            }
            .holiday__images_item1 {
                background-image: url(../images/Sport.png);
                @include respond(tablet) {
                    background-image: url('../images/Tablet/sport_tablet.png');
                    height: 310px;
                    width: 236px;
                    
                }
                @include respond(mobile) {
                    background-image: url('../images/Mobile/Sportmobile_spor.png');
                    height: 120px;
                }
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 300px;
                height: 310px;
                margin: 4px;
            }
            .holiday__images_item2 {
                background-image: url(../images/Healath.png);
                @include respond(tablet) {
                    background-image: url('../images/Tablet/health_tablet.png');
                    height: 310px;
                    width: 236px;
                }
                @include respond(mobile) {
                    background-image: url('../images/Mobile/Healathmobile_health.png');
                    height: 120px;
                }
                background-repeat: no-repeat;
                background-size: cover;
                width: 300px;
                height: 310px;
                margin: 4px;
            }
            .holiday__images_item3 {
                background-image: url(../images/Extreme.png);
                @include respond(tablet) {
                    background-image: url('../images/Tablet/Extreme_tablet.png');
                    height: 310px;
                    width: 236px;
                }
                @include respond(mobile) {
                    background-image: url('../images/Mobile/Extreme_mobile.png');
                    height: 120px;
                }
                border-radius: 5px;
                background-repeat: no-repeat;
                background-size: cover;
                width: 300px;
                height: 310px;
                margin: 4px;
            }
            .holiday__images_item4 {
                background-image: url(../images/Games.png);
                @include respond(tablet) {
                    background-image: url('../images/Tablet/Games_tablet.png');
                    height: 310px;
                    width: 236px;
                }
                @include respond(mobile) {
                    background-image: url('../images/Mobile/Games_mobile.png');
                    height: 120px;
                }
                background-repeat: no-repeat;
                background-size: cover;
                width: 300px;
                height: 310px;
                margin: 4px;
            }
            .holiday__images_item5 {
                background-image: url(../images/5.png);
                @include respond(tablet) {
                    background-image: url('../images/Tablet/Culture_tablet.png');
                    height: 310px;
                    width: 492px;
                }
                @include respond(mobile) {
                    background-image: url('../images/Mobile/Culture_mobile.png');
                    height: 120px;
                    width: 300px;
                }
                background-repeat: no-repeat;
                background-size: cover;
                height: 310px;
                width: 620px;
                margin: 4px;
                border-radius: 5px;
            }
            .holiday__images_item6 {
                background-image: url(../images/6.png);
                @include respond(tablet) {
                    background-image: url('../images/Tablet/Culture\ Copy_tablet.png');
                    height: 310px;
                    width: 492px;
                }
                @include respond(mobile) {
                    background-image: url('../images/Mobile/Culture\ Copy_mobile.png');
                    height: 120px;
                    width: 300px;
                }
                background-repeat: no-repeat;
                background-size: cover;
                width: 620px;
                height: 310px;
                margin: 4px;
            }
            .holiday__images_item7 {
                background-image: url(../images/Games_Copy.png);
                @include respond(tablet) {
                    background-image: url('../images/Tablet/Games\ Copy_tablet.png');
                    height: 310px;
                    width: 236px;
                }
                @include respond(mobile) {
                    background-image: url('../images/Mobile/Games\ Copy_mobile.png');
                    height: 120px;
                    background-position: top;

                }
                background-repeat: no-repeat;
                background-size: cover;
                width: 300px;
                height: 310px;
                margin: 4px;
            }
        }
    }
    
    .interests {
        h4 {
            color: $text-color-third;
            font-size: 18px;
            font-family: 'Roboto-Light';
            text-align: center;
            margin-bottom: 22px;
        }
        h2 {
            margin-bottom: 53px !important;
            margin-top: 82px !important;
            @include respond(mobile) {
                width: 280px;
                margin-top: 31px !important;
                margin-left: 11px !important;
                margin-bottom: 17px !important;
            }
        }
        input {
            width: 299px;
            height: 40px;
            border-radius: 3px;
            border: 1px solid #D4D4D4;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
             ::placeholder {
                color: $text-color-four;
                font-size: 14px;
                font-family: 'Roboto-Light';
                line-height: 16px;
            }
            @include respond(mobile) {
                width: 280px;
                height: 40px;
                margin-top: -10px;
            }
        }
        .wrapper {
            padding-left: 237px;
            @include respond(tablet) {
                padding-left: 142px;
            }
            @include respond(mobile) {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-left: 0;
            }
            button {
                font-size: 14px;
                font-family: 'Montserrat-Bold';
                color: $text-color-first;
                border-radius: 40px;
                background-color: $bg-first-color;
                border: none;
                padding: 12px 26.12px 13px 30px;
                margin-left: 6px;
                @include respond(mobile) {
                    width: 281px;
                    height: 40px;
                    margin-top: 11px;
                }
            }
        }
    }
    
    footer {
        margin-top: 100px;
        @include respond(mobile) {
            margin-top: 40px;
        }
        hr {
            background-color: $bg-first-color;
            height: 2px;
            border: none;
        }
        .footer {
            display: flex;
            justify-content: space-between;
            @include respond(tablet) {
                max-width: 768px;
            }
            @include respond(mobile) {
                flex-direction: column;
                align-items: center;
                margin-top: -18px;
                
            }
            .dreamshare {
                @include respond(tablet){
                    margin-right: 108px;
                }
                p {
                    color: $bg-first-color;
                    font-family: 'Montserrat-Regular';
                    font-size: 16px;
                    margin-top: 31px;
                    margin-left: 8px;
                    @include respond(tablet) {
                        margin-top: 29px;
                        margin-left: 39px;
                    }
                    @include respond(mobile) {
                        margin-left: 1px;
                    }
                }
            }
            .company {
                display: flex;
                flex-direction: column;
                margin-top: 26px;

                @include respond(tablet) {
                    margin-top: 23px;
                    width: 239px;
                }
                @include respond(mobile) {
                    flex-wrap: wrap;
                    width: 280px;
                    margin-left: -85px;
                    margin: 10px auto 0;
                    text-align: center;
                }
                .company-title {
                    color: $text-color-second;
                    font-size: 14px;
                    font-family: 'Montserrat-Bold';
                    margin-bottom: 6px;
                    @include respond(mobile) {
                        margin-bottom: -3px;
                    }
                }
                p {
                    font-size: 14px;
                    font-family: 'Roboto-Light';
                    color: $text-color-four;
                    line-height: 26px;
                    @include respond(mobile) {
                        margin: 0 6px;
                    }
                }
                .company__items {
                    
                    @include respond(mobile) {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                    }
                }
            }
            .partners {
            
                margin-top: 10px;
                @include respond(tablet) { 
                    margin-top: 30px;
                }
                @include respond(mobile) {
                    text-align: center;
                    margin-top: -12px;
                }
                .partners-title {
                    color: $text-color-second;
                    font-size: 14px;
                    font-family: 'Montserrat-Bold';
                    margin-bottom: 6px;
                    @include respond(tablet) {
                        margin-top: 1px;
                        margin-left: 64px;
                    }
                }
            }
            .footer-logo {
                margin-left: 167px;
                margin-top: 29px;
                margin-right: 7px;
                @include respond(tablet) {
                    margin-top: 28px;
                    margin-left: 37px;
                    margin-right: 38px;
                }
                @include respond(mobile) {
                    text-align: center;
                    margin: 8px auto;
                }
                p {
                    color: #CCCCCC;
                    font-size: 10px;
                    font-family: 'Montserrat-Bold';
                    line-height: 12.19px;
                    letter-spacing: 1px;
                    margin-left: 30px;
                    margin-bottom: 7px;
                    @include respond(tablet) {
                        margin-left: 19px;
                    }
                    
                }
            }
        }
    }
    
